/* Base Styles */
* {
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
  }

html {
    font-size: 20px; /* 1.25em on most screens */
  }

h1, h2 {
    font-family: 'Chivo', sans-serif;
    font-weight: 900;
    color: white;
  }

p {
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
}

body {
    margin: 1rem;
    background: url(../img/jeans.jpeg), linear-gradient(-90deg, #001a7a 0%,#2db1f7 -50%,#1060c1 -60%, #001a7a 100%);
    background-repeat: repeat;
    background-blend-mode: soft-light;
    color: white;
  }

img {
    width: 100%; /* responsive images */
    border-radius: 10px;
  }

/* Main Styles */

header {
    padding: 20vh 1rem;
    margin: -1rem -1rem 1rem;
    background: url(../img/NewJeans-Supershy.jpeg) center / cover no-repeat;
    border: 12px solid white;
  }

header h1 {
    font-family: 'Gochi Hand', cursive;
    font-size: 4rem;
    text-align: center;
    text-shadow: 1px 2px 3px rgba(0, 10, 30, .5);
    color: white;
}

main {
    max-width: 1000px;
    margin: 0 3rem auto;
    hyphens: auto;
  }

section {
    padding: 4rem 0;
    border-bottom: 1px dashed lightgray;
  }

.profile-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 2fr;


}
